* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #3481EB #ffffff;
}

body{
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    color: #292929;
}
span{
    font-family: "Manrope", sans-serif;
}
body:hover{
    cursor: default;
}
html {
    scroll-behavior: smooth;
}
button,
textarea,
input{
    font-family: "Manrope", sans-serif;
    outline: none;
    border: none;
    box-shadow: none;
}
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #3481EB;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1c5dbf;
}
.hidden{
    opacity: 0;
    transition: all 2s ease;
    filter: blur(5px);
    transform: translateX(-100%);
    margin-left: 0;
}
.show{
    opacity: 1;
    transition: all 0.8s ease;
    filter: blur(0);
    transform: translateX(0);
}
.wrapper{
    margin-left: 122px;
}
.wrapper__name{
    transition-delay: 400ms;
}
.wrapper__name_father{
    transition-delay: 900ms;
}
.hiddenb{
    opacity: 0;
    transition: all 0.9s ease;
    filter: blur(5px);
    transform: translateY(50%);
}
.services-wrapper,.apointment__form_bottom input:nth-child(2){
    transition-delay: 100ms;
}
.services-wrapper,.apointment__form_bottom input:nth-child(3){
    transition-delay: 250ms;
}
.services-wrapper,.apointment__form_bottom input:nth-child(4){
    transition-delay: 350ms;
}
.services-wrapper,.apointment__form_bottom input:nth-child(5){
    transition-delay: 400ms;
}
.services-wrapper:nth-child(6){
    transition-delay: 600ms;
}
.card-wrap:nth-child(1){
    transition-delay: 600ms;
}
.card-wrap:nth-child(2){
    transition-delay: 300ms;
}
.card-wrap:nth-child(3){
    transition-delay: 100ms;
}
.animationb{
    opacity: 1;
    transition: all 0.9s ease;
    filter: blur(0);
    transform: translateY(0);
    transition-delay: 200ms;
}
@media (prefers-reduced-motion: reduce) {
    .hidden, .hiddenb {
        transition: none;
        transform: none;
        animation: none;
    }
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}
/*Burger */
.burger {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    display: none;
    padding-bottom: 40px;
}
.burger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 11; 
}
.burger-menu{
    display: grid;
    place-items: center; 
}
.burger-menu__list_item,.burger-menu__list_link{
    text-align: center;
    text-decoration: none;
    color: #292929;
    font-size: 22px;
    margin-top: 35px;
}
.burger-menu__list_item{
    max-width: 140px;
    width: 100%;
}
.burger-menu__list_link{
    display: block;
}
.burger-menu__list_link:hover{
    color: #6299e6;
}
.burger-menu__list_link.active{
    border: 1px solid #292929;
    border-radius: 30px;
    padding: 12px 16px;
}
.burger.active{
    display: block;
}
.fixed-menu__list {
    list-style: none;
    padding: 20px;
    margin: 0;
}
.fixed-menu__list_item {
    margin-bottom: 15px;
}
.fixed-menu__list_item-last {
    margin-bottom: 0;
}
.burger-btn {
    position: absolute;
    top: 45px;
    right: 20px;
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 110000000;
}
.burger-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.burger-btn_black span{
    background-color: #000;
}
.burger-btn.active span {
    background-color: #292929;
}
.burger-btn.active{
    position: fixed;
    width: 25px;
    height: 25px;
}
.burger.active + .burger {
    left: 0;
}
.burger-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(1px, 15px);
}

.burger-btn.active span:nth-child(2) {
    opacity: 0;
}

.burger-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -15px);
}
section{
    width: 100vw !important;
    max-width: 100%;
    padding: 0;
    padding-top: 140px;
    margin: 0;
}
.title{
    font-weight: 200;
    font-size: 52px;
}
p{
    padding: 0;
    margin: 0;
}
ul, li{
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}
section{
    width: 100%;
    padding: 80px 0;
}
a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}
a:hover{
    color: #fff;
}
img{
    max-width: 100%;
    object-fit: cover;
    display: block;
}
.butn{
    display: block;
    padding: 10px 0 12px 0;
    width: 324px;
    font-size: 22px;
    color: #fff;
    background: #292929;
    text-decoration: none;
}
.home{
    background: url('../img/mainphoto.png') no-repeat center top / cover;
    padding-top: 157px;
}
.fixed-menu{
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 23px 30px 26px 30px;
    background-color: #F4F7FA;
    color: white;
    z-index: 1000;
    border-radius: 50px;
}
.fixed-menu__list_item a{
    width: 100%;
    margin-right: 27px;
    font-size: 22px;
    color: #292929;
    text-decoration: none;
    border: 1px solid #29292900;
    padding: 16px;
    padding-top: 13px;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease;
}
.fixed-menu__list_item-last a{
    border: 1px solid #292929;
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 14px;
    transition: all 0.3s ease;
}
.fixed-menu__list_item-last a:hover{
    border: 1px solid #3481EB;
    transition: all 0.3s ease;
}
.fixed-menu__list-contacts a{
    background: #3481EB;
    color: #fff !important;
    border: 1px solid #3481EB !important;
}
.fixed-menu__list_link:hover{
    color: #3481EB;
    transition: all 0.3s ease;
}
.fixed-menu__list_item a.active{
    border: 1px solid #292929;
    border-radius: 50px;
}
.fixed-menu__list_item-last a{
    margin-right: 0;
}
.home-screen{
    overflow-x: hidden;
}
.container-header{
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto;
}
.wrapper{
    color: #fff;
    width: 380px;
    z-index: 100;
}
.wrapper__text{
    font-size: 24px;
}
.wrapper__img img{
    max-width: 740px;
    width: 740px !important;
    margin-left: -70px;
    filter: drop-shadow(30px 30px 50px rgba(0, 0, 0, 0.5));
}
.wrapper__name{
    background: url('../img/headertext.svg') no-repeat center;
    display: block;
    width: 379px;
    height: 110px;
}
.wrapper__name_father{
    background: url('../img/volodymyrovich.svg') no-repeat center;
    display: block;
    width: 380px;
    height: 64px;
    margin-top: 13px;
}
.button__wrap{
    position: relative;
    left: 10px;
    transition: all 0.3s ease;
}
.wrapper__btn button:hover .button__wrap{
    position: relative;
    transition: all 0.3s ease;
    left: 20px;
    transform: rotate(45deg);
}
.modal-content-first__title{
    margin-bottom: 32px;
}
.policy-text{
    color: #495925;
    margin-top: 12px;
    font-size: 12px;
    display: block;
    text-align: center;
}
.wrapper__btn{
    border-radius: 36px 36px 0 36px;
    background: #fff;
    padding: 24px;
    margin-top: 23px;
}
.wrapper__btn button{
    border-radius: 50px;
}
.wrapper__btn-text{
    color: #292929;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 10px;
}
.services-title{
    margin-bottom: 32px;
}
.services-wrapper{
    background: #F4F7FA;
    width: 32.5%;
    border-radius: 12px;
    padding: 24px;
    height: 300px;
    margin-bottom: 14px;
    border: 2px solid #F4F7FA;
    transition: all 0.2s ease;
}
.services-wrapper:hover{
    border: 2px solid #3481EB;
    transition: all 0.2s ease;
}
.services-wrapper:hover .services-wrapper__line{
    background: #3481EB;
    opacity: 100%;
    transition: all 0.2s ease;
}
.services-wrapper__title{
    max-width: 270px;
    font-size: 28px;
    width: 100%;
    line-height: 1.3em;
}
.services-wrapper__text{
    line-height: 1.5em;
    max-width: 280px;
    width: 100%;
    font-weight: 200;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 28px;
}
.services-wrapper__line{
    display: block;
    width: 100%;
    height: 1px;
    background: #292929;
    opacity: 50%;
}
.cases__title{
    margin-bottom: 36px;
}

.tabs{
   width: 100%;
   background: #E1EBF9;
   height: 84px;
   border-radius: 12px;
   padding: 0 8px;
}
.tab{
    width: 33.2%;
    display: block;
    background: #E1EBF9;
    height: 68px;
    border-radius: 12px;
    font-size: 26px;
    margin-right: 5px;
}
.tab:hover{
    border: 1px solid #3481EB;
}
.tab.active{
    background: #3481EB;
    color: #fff;
    cursor: default;
}
.content{
    display: none;
}
.content.active{
    display: block;
}

/* inside */
.content-inside{
    margin-top: 16px;
}
.content-info{
    width: 49%;
}
.content-info__wrapper{
    background: #E1EBF9;
    padding: 28px;
    max-height: 315px;
    height: 100% !important;
    border-radius: 28px;
}
.content-info__title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}
.content-info__list{
    max-width: 536px;
    width: 100%;
}
.dot,.content-info__list_item span{
    padding: 0 15px !important;
}
.content-info__list_item{
    display: flex;
    font-size: 22px;
    margin-bottom: 16px !important;
}
.number{
    background: #E1EBF9;
    border-radius: 28px;
    max-width: 310px;
    width: 100%;
    padding: 24px;
    margin-top: 16px;
}
.number__title ,.number__amount ,.number__something{
    text-align: center;
    display: block;
}
.number__title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
}
.number__amount{
    font-size: 90px;
    color: #3481EB;
    font-weight: 700;
}
.number__something{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
}
.content-img__main:hover{
    cursor: default;
}
.content-img__main{
    border-radius: 24px;
    max-width: 645px;
    height: 560px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.zoom-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
/* Модальне вікно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content-first{
    background: #E1EBF9;
    padding: 32px;
    border-radius: 26px;
    max-width: 700px;
    width: 100%;
    box-shadow: #05011057 !important;
    position: relative;
    margin: auto;
}
.modal-form_btn{
    margin-top: 12px !important;
}
.modalcontent{
   top: 50px !important;
}


.close-first{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    filter: brightness(0) invert(0);
    z-index: 100000 !important;
}
.zoom-icon{
    position: relative;
    top: -80px;
    right: -520px;
    transition: transform 0.2s ease;
}
.modalcontent {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 95%;
    height: 95%;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 40px;
    left: 85%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.cards{
    margin-top: 60px;
}
.card-wrap{
    background: #E1EBF9;
    padding: 24px;
    border-radius: 12px;
    max-width: 390px;
}
.card-wrap__case{
    position: relative;
    right: -221px;
    top: -47px;
    background: #E1EBF9;
    font-size: 16px;
    font-weight: 500;
    width: 145px;
    border-radius: 12px 12px 0 0;
    padding-top: 10px;
    text-align: center;
}
.card-wrap__title{
    margin: 24px 0;
    text-align: center;
    font-size: 24px;
    color: #050110;
}
.card-wrap__list_item:not(:last-child){
    margin-bottom: 16px !important;
}
.card-wrap__list{
    font-size: 18px;
}
.card-wrap img{
    margin-top: -30px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F4F7FA;
    width: 380px !important;
    height: 380px;
    line-height: 1.5em;
    padding: 0 0 27px 27px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-buttonprev ,.swiper-buttonnext{
    background: none;
}
.swiper-buttonprev{
    margin-right: 25px;
}
.review-wrapper{
    margin-bottom: 36px;
}
.swiper-slide{
    margin-bottom: 36px;
    border-radius: 12px;
}
.swiper-slide__bgimg{
    width: 110px;
    height: 100px;
    background: url('../img/koma.svg') no-repeat;
}
.swiper-slide__title{
    margin: 24px 0 16px 0;
}
.swiper-slide__text{
    text-align: left;
    line-height: 1.5em;
    max-width: 310px;
    width: 100%;
}
.review-date__element{
    width: 168px;
    height: 2px;
    border-radius: 1px;
    background: #E1EBF9;
    display: block;
}
.review-date__item{
    padding-right: 24px;
    font-weight: 300;
    font-size: 18px;
}
.section-questions__title{
    margin-bottom: 36px;
}
.question{
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 24px 26px;
    background-color: #F4F7FA;
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;
    margin-bottom: 16px;
}
.question.active{
    color: #fff;
    background-color: #3481EB;
}
.question__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: background-color 0.3s, border 0.3s;
    border: 1px solid #292929;
}
.question__button img {
    width: 17px;
    height: 17px;
}

.arrow-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(0) invert(0);
    opacity: 80%;
}
.question.active .arrow-icon {
    transform: rotate(180deg);
}

.question:hover {
    border: 1px solid #4285f4;
}
.question:hover .question__button {
    background-color: #4285f4;
    border: 1px solid #4285f4;
}
.question.active .question__button {
    background-color: #fff;
    border: 1px solid #fff;
}
.question:hover .arrow-icon {
    filter: brightness(0) invert(1);
}
.question.active .arrow-icon {
    filter: none !important;
}
.quastion__text_wrapper{
    width: 488px;
}
.question__text{
    font-size: 24px;
}

.question__text_extra {
    display: none;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}
.morequstion__title{
    font-size: 32px;
    font-weight: 200;
    max-width: 488px;
    line-height: 1.4em;
    margin-top: 20px;
}
.morequstion__title_blue{
    color: #3481EB;
}
.morequstion__text{
    font-weight: 200;
    font-size: 18px;
    line-height: 1.5em;
    max-width: 340px;
    margin: 16px 0 40px 0;
}
.morequstion__btn{
    border-radius: 100px;
    width: 450px;
}
.morequstion__btn span{
    font-weight: 200;
    margin-right: 20px;
}
.morequstion__btn img{
    transition: transform 0.2s ease;
}
.morequstion__btn:hover.morequstion__btn img{
    transform: rotate(15deg);
    transition: transform 0.2s ease;
}
.apointment{
    background: #E1EBF9;
    border-radius: 16px;
}
.appointment__wrapper{
    margin: 46px 0 46px 30px;
}
.apointment-title{
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 24px;
}
.apointment__form{
   display: block; 
}
.apointment__form input ,textarea{
    max-width: 632px;
    width: 100%;
    font-family: "Manrope", sans-serif !important;
    border-radius: 50px;
    padding: 16px 24px;
    margin-bottom: 12px;
}
.apointment__form_btn{
    max-width: 632px;
    width: 100%;
    font-weight: 300;
    margin-top: 28px;
    padding: 13px 0;
    border-radius: 100px;
}
.apointment__form_btn img{
    margin-left: 20px;
}
.apointment__form_btn:hover.apointment__form_btn img{
    position: relative;
    transition: all 0.3s ease;
    left: 20px;
    transform: rotate(45deg);
}
.docpar img{
    height: 546px;
}
.molek{
    margin-top: 80px;
}
.docpar{
    width: 500px;
}
.apointment-parallax{
    margin-top: -82px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 0;
    display: block;
    margin-left: auto !important;
    margin-right: 70px;
}
.footer{
    background: #292929;
    overflow: hidden;
    padding-bottom: 80px;
    padding-top: 20px;
}
.footer-parallax img{
    opacity: 30%;
}
.apointment-section{
    padding-bottom: 160px;
}
.footer-nav__item{
    margin-bottom: 16px !important;
    display: block; 
}
.footer-nav__item a:hover{
    transition: color 0.2s ease;
    color: #6299e6;
}
.footer-nav__item ,.footer-nav__item a{
    transition: color 0.2s ease;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-family: "Manrope", sans-serif;
}
.footer-nav_last{
    margin-left: 200px;
}
.footer-nav__paral{ 
    margin-right: -10px;
    margin-bottom: -200px;
}
.social{
    margin-top: 60px;
}
.social__item{
    background: #3481EB;
    width: 68px;
    height: 68px;
    border-radius: 70px;
}
.social__item img{
    margin: 15px auto;
}
.social__item:not(:last-child){
    margin-right: 60px;
}
/* Extra extra large (xxl): <1400px */
@media (max-width: 1399.98px) {
    .card-wrap:last-child{
        margin-top: 45px;
    }
    .content-info,.number:not(:last-child){
        margin-right: 20px;
    }
    .docpar img{
        width: 440px;
    }
    .container-header{
        max-width: 1140px;
    }
}
  
  /* Extra large (xl): <1200px */
@media (max-width: 1199.98px) {
    .docpar img,.docpar{
        max-height: 500px;
        height: 100%;
    }
    .wrapper{
        margin-left: 0;
    }    
    .apointment-parallax{
        display: block;
        height: 400px;
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        display: block;
        margin-left: auto !important;
    }
    .content-info__wrapper{
        max-height: 400px;
    }
    .content-img__main{
        height: 670px;
    }
    .zoom-icon{
        right: -450px;
    }
    .appointment__wrapper{
        max-width: 405px;
        width: 100%;
    }
    .apointment-parallax,.docpar img{
        width: 100%;
        height: 500px;
    }
    .container-header{
        max-width: 960px;
    }
    .questions__wrapper{
        width: 50%;
        margin-right: 20px;
    }
    .morequstion__title{
        margin-top: 40px;
    }
    .question__button{
        width: 50px;
    }
    .wrapper__img img{
        filter: none;
    }
} 
  /* Large (lg): <992px */
@media (max-width: 991.98px) {
    .burger-btn{
        display: flex;
    }
    .container-header,.swiper-wrapper{
        max-width: 720px;
    }
    .wrapper__img img{
        margin: 0 auto;
    }
    .services-wrapper{
        width: 49%;
    }
    .wrapper__img{
        z-index: 0;
    }
    .wrapper__btn{
        margin-top: -40px;
        position: relative;
        z-index: 10;
        text-align: center;
    }
    .wrapper__btn button{
        margin: 0 auto;
    }
    .home{
        padding-bottom: 20px;
    }
    .content-info{
        width: 100%;
    }
    .content-img__main{
        max-width: 720px;
        width: 100%;
        margin-top: 20px;
    }
    .zoom-icon{
        right: -600px;
    }
    .card-wrap:not(:last-child){
        margin-top: 45px;
    }
    .questions__wrapper{
        width: 100%;
    }
    .question__button{
        width: 40px;
    }
    .appointment__wrapper{
        max-width: 100%;
        z-index: 1;
    }
    .apointment-parallax{
        position: relative;
        z-index: 0;
    }
    .butn{
        width: 100%;
    }
    .footer-nav{
        text-align: center;
        display: block;
        margin-top: 60px !important;
    }
    .apointment{
        background-image: url('../img/молекули.png'); /* зображення як фон */
        background-repeat: no-repeat; /* щоб зображення не повторювалось */
        background-position: top right; /* позиція зображення */
        background-size: 228px 207px;
    }
    .apointment-parallax{
        display: none;
    }
    .wrapper__name_father{
        width: 256px;
        height: 44px;
        background-size: cover;
    }
}
  
  /* Medium (md): <768px */
@media (max-width: 767.98px) {
    .container-header{
        max-width: 540px;
    }
    .services-wrapper{
        width: 100%;
    }
    .home{
        padding-top: 98px;
    }
    .wrapper__name{
        width: 262px;
        height: 75px;
        background-size: cover;
    }
    .wrapper__img img{
        max-width: 506px;
        width: 100%;
    }
    .zoom-icon {
        left: 80%;
    }
    .modal-content-first__title{
        font-size: 24px;
    }
    .apointment-title{
        font-size: 36px;
    }
    .question__button{
        width: 45px;
    }
    .modal-content-first{
        width: 90%;
    }
    .appointment__wrapper{
        margin: 16px;
    }
    section{
        padding: 35px 0;
    }
    .apointment-section{
        padding-bottom: 70px;
    }
}
  
  /* Small (sm): <576px */
@media (max-width: 575.98px) {
    .container-header{
        width: 100%;
        padding:0 10px;
    }
    .wrapper__img img{
        max-width: 440px;
        width: 100%;
    }
    .tabs{
        height: fit-content;
    }
    .tab{
        width: 100%;
    }
    .title{
        font-size: 32px;
    }
    .services-title{
        margin-top: 35px;
        text-align: center;
    }
    .cases__title{
        text-align: center;
        margin: 0 auto 36px;
    }
    .card-wrap__list_item,.services-wrapper__text,.wrapper__btn-text,.morequstion__text{
        font-size: 16px;
    }
    .wrapper__btn-text{
        text-align: left;
    }
    .services-wrapper{
        height: fit-content;
        padding: 24px;
    }
    .services-wrapper__title{
        font-size: 20px;
    }
    .morequstion__title{
        font-size: 28px;
    }
    .question__text{
        font-size: 18px;
    }
    .apointment__form_bottom input{
        width: 100%;
    }
    .tab{
        font-size: 20px;
    }
    .content-info__title{
        font-size: 20px;
    }
    .content-info__list_item{
        font-size: 18px;
    }
}
@media (max-width: 525px) {
    .question__button {
        width: 55px;
        margin-left: 10px;

    }
    .footer-nav__paral{
        display: none;
    }
    .footer{
        background-image: url('../img/molfooter.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 171px 140px;
    }
    .content-info__wrapper{
        padding: 16px;
    }
    .footer-nav__item a ,.footer-nav__item{
        font-size: 22px;
    }
    .content-img__main{
        height: 344px;
    }
}
@media (max-width: 422px) {
    .question__button {
        width: 76px;
    }
    .card-wrap__case {
        right: 24px;
    }
    .content-info__wrapper{
        height: fit-content !important;
    }
    .number{
        padding: 16px;
    }
}

/*About */

.doctor-about{
    padding-top: 150px;
}
.doctor__title{
    font-size: 52px;
    font-weight: 200;
    color: #050110;
}
.doctor__name{
    font-family: "Oswald", serif;
    font-size: 95px;
    font-weight: 200;
    line-height: 1.3em;
    color: #050110;
    margin: 40px 0;
    transition-delay: 220ms;
}
.doctor__description{
    font-size: 24px;
    max-width: 580px;
    line-height: 1.5em;
}
.doctor__info{
    width: 50%;
}
.doctor__stat{
    max-width: 112px;
    text-align: center;
}
.doctor__stat-value{
    font-family: "Inter", serif;
    color: #3481EB;
    font-size: 48px;
    display: block;
}
.doctor__photo img{
    border-radius: 24px;
}
.doctor__stat:nth-child(2){
    transition-delay: 200ms;
}
.doctor__stat:nth-child(3){
    transition-delay: 400ms;
}
.education{
    background-image: url('../img/molek.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px 250px;
}
.education__images img:nth-child(1){
    margin-right: 12px;
}
.education__text{
    max-width: 455px;
}
.education__flag{
    margin-right: 16px;
}
.education__flag,.internship__icon_ukraine{
    background-image: url('../img/ukr.svg');
    display: block;
    width: 40px;
    height: 28px;
}
.internship__title{
    font-size: 48px;
    font-weight: 300;
    color: #050110;
}
.internship__icon{
    width: 40px;
    height: 28px;    
}
.internship__icon_germany{
    background-image: url('../img/germany.svg');
    display: block;
}
.internship__icon_austria{
    background-image: url('../img/austria.svg');
    display: block;
}
.internship__icon_switzerland{
    background-image: url('../img/switzerland.svg');
}
.internship__icon{
    margin-right: 28px;
    margin-top: 7px;
}
.internship__year{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
.internship__info{
    display: flex;

}
.internship__description{
    max-width: 560px;
}
.internship__description{
    font-size: 18px;
    font-weight: 300;
    color: #000;
}
.internship__item:nth-child(1){
    transition-delay: 200ms;
}
.internship__item:nth-child(2){
    transition-delay: 300ms;
}
.internship__item:nth-child(3){
    transition-delay: 400ms;
}
.internship__item:nth-child(4){
    transition-delay: 500ms;
}
.internship__item:nth-child(5){
    transition-delay: 600ms;
}
.certificates__title{
    margin-bottom: 49px;
}
.certificates__list{
    width: 33%;
    margin-right: 12px;
}
.certificates__item{
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 24px;
    background-color: #F4F7FA;
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;
    margin-bottom: 12px;
    transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.certificates__item:nth-child(4){
    margin: 0;
}
.certificates__item_arrow{
    width: 20px;
    height: 20px;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(0) invert(0);
    opacity: 80%;
    transform: rotate(45deg);
}
.certificates__item:hover .certificates__item_arrow{
    filter: brightness(0) invert(1);
    opacity: 1;
    transition: all 300ms ease;
}
.certificates__item.active{
    color: #fff;
    background-color: #3481EB;
    cursor: default;
}
.certificates__item.active .certificates__item-button{
    background: #fff !important;
    border: 1px solid #fff !important;
}
.certificates__item.active .certificates__item_arrow{
    filter: none !important;
}
.certificates__item:hover .certificates__item-button{
    border: 1px solid #3481EB;
    background: #3481EB;
}
.certificates__item:hover{
    border: 1px solid #4285f4;
}
.certificates__item-title{
    font-size: 18px;
    line-height: 1.5em;
    max-width: 300px;
}
.certificates__item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.certificates__item-year{
    font-size: 18px;
    font-weight: 200;
}
.certificates__item-button{
    display: block;
    padding: 10px;
    width: 42px;
    border-radius: 50px;
    border: 1px solid #000;
    transition: background-color 0.3s, border 0.3s;
}
.certificates__preview{
    transition-delay: 400ms;
}
.important-call__wrapper{
    background: #E1EBF9;
    border-radius: 16px;
    padding: 32px 56px;
}
.blue{
    color: #3481EB;
}
.important-call__info{
    max-width: 491px;
}
.important-call__title{
    font-size: 40px;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 16px;
}
.important-call__text{
    font-size: 18px;
    font-weight: 200;
}
.important-call__link img{
    background: #292929;
    justify-content: end;
    padding: 10px;
    border-radius: 40px;
}
.important-call__link{
    padding: 7px 14px;
    border-radius: 50px;
}
.important-call__link ,.important-call__number{
    background: #fff;
    display: block;
    color: #292929;
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
}
.important-call__viber{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 100%;
    margin-top: 16px;
}
.important-call__viber span{
    margin-right: 20px;
}
.important-call__disclaimer{
    color: #495925;
    font-size: 12px;
    margin-top: 16px;
}
.important-call__quote{
    max-width: 494px;
    background-image: url(../img/komma.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 475px 370px;
    width: 475px;
    height: 370px;
}
.important-call__blockquote{
    margin-top: 20%; 
}
.important-call__quote-text{
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-style: italic;
}
.important-call__author{
    font-family: "Oswald", serif;
    font-size: 24px;
}

@media (max-width: 1399.98px) {
    .doctor__photo{
        width: 40%;
    }
}

@media (max-width: 1199.98px) {
    .doctor__title{
        font-size: 36px;
        margin-bottom: 40px;
    }
    .doctor__name{
        font-size: 60px;
    }
    .doctor__stats{
        margin-right: 50px;
    }
    .education__details{
        max-width: 451px;
    }
    .education{
        background-position: center right;
    }
    .education__images{
        margin-bottom: 28px;
    }
    .certificates__list {
        width: 60%;
    }
    .important-call__quote{
        background-image: none;
        margin-left: 20px;
    }
    .important-call__quote-text{
        font-size: 20px;
    }
    .doctor__content{
        flex-direction: column-reverse;
    }
    .doctor__photo{
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .certificates__preview{
        display: none;
    }
    .certificates__list{
        width: 100%;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .modalClose img{
        filter: brightness(0) invert(1);
    }
    .certificates__item.active{
        color: #292929;
        background-color: #F4F7FA;
        cursor: pointer;
    }
    .certificates__item.active .certificates__item-button{
        background: none !important;
        border: 1px solid #292929 !important;
    }
    .certificates__item.active .certificates__item_arrow{
        filter: brightness(0) invert(0) !important;
    }
    .certificates__item:hover .certificates__item_arrow{
        filter: brightness(0) invert(1) !important;
        opacity: 1;
        transition: all 300ms ease;
    }
    .certificates__item:hover .certificates__item-button{
        border: 1px solid #3481EB !important;
        background: #3481EB !important;
    }
    .modal.active {
        display: flex;
    }
    .modalImage {
        max-width: 90%;
        max-height: 90%;
    }
    .modalClose {
        position: absolute;
        top: 90px;
        right: 30px;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }
    .important-call__wrapper{
        padding: 16px;
    }
    .doctor__info{
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .internship{
        flex-direction: column-reverse;
    }
    .internship__image{
        margin: 25px 0;
    }
    .education__images{
        justify-content: center;

    }
    .education__images img:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 12px;
    }
    .education__images img:nth-child(2) {
        margin-bottom: 28px;
    }
}

@media (max-width: 575.98px) {
    .title{
        font-size: 32px;
    }
    .doctor__name {
        font-size: 48px;
    }
    .doctor__stat-value{
        font-size: 28px;
    }
    .doctor__description{
        font-size: 20px;
    }
    .doctor__stat-label{
        font-size: 16px;
    }
    .doctor-about{
        padding-top: 90px;
    }
    .internship__icon{
        margin-top: 7px;
        width: 45px;
    }
    .internship__description {
        font-size: 16px;
    }
    .internship__icon_ukraine,.education__flag{
        width: 60px;
    }
    .important-call__title{
        font-size: 32px;
    }
    .important-call__text{
        font-size: 16px;
    }
}
/* Контакти*/

.contacts{
    background-image: url(../img/graphelement.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 783px 200px;
    margin-top: 80px;
}
.contacts__description{
    font-size: 18px;
    max-width: 595px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.contacts__item{
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}
.contacts__text{
    width: 540px;
}
.contacts__info{
    display: block;
}
.contacts__item:nth-child(2){
    transition-delay: 150ms;
}
.contacts__item:nth-child(3){
    transition-delay: 250ms;
}
.contacts__icon{
    background: #3481EB;
    display: block;
    width: 60px;
    padding: 14px;
    border-radius: 60px;
    margin-right: 28px;
}
.contacts__label{
    font-size: 28px;
}
.contacts__label, .contacts__item a{
    color: #292929;
    text-decoration: none;
}
.contacts__text{
    font-size: 24px;
    font-weight: 200;
}
.contacts__socials{
    background: #F4F7FA;
    padding: 40px 60px;
    border-radius: 16px;
}
.contacts__socials-title{
    margin-bottom: 150px;
}
.contacts__socials-item:not(:last-child){
    margin-bottom: 32px !important;
}
.contacts__socials-title{
    font-size: 24px;
}
.contacts__socials-text{
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}
.contacts__icon-second{
    transition: all 150ms ease;
}
.contacts__icon-second:hover{
    transform: scale(108%);
    transition: all 150ms ease;
}
iframe{
    width: 100%;
    height: 448px;
}
@media (max-width: 1200px){
    .contacts__socials{
        padding: 48px 28px;
    }
    .contacts__socials-title{
        margin-bottom: 40px;
        font-weight: 400;
    }
    .contacts__socials-title{
        font-size: 18px;
    }
    .contacts__socials-text{
        font-size: 24px;
    }
}
@media (max-width: 767.98px) {
    .contacts__socials{
        width: 100%;
    }
    .contacts__description{
        font-size: 16px;
    }
    .contacts__text{
        font-size: 16px;
    }
    .contacts__details{
        width: 100%;
    }
    .contacts__text{
        max-width: 500px;
        width: 100%;
    }
    .contacts__label{
        font-size: 24px;
    }
}
